name: Java CI with Gradle (JDK 15, Gradle 8.3)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 15
        uses: actions/setup-java@v3
        with:
          java-version: '15'
          distribution: 'adopt'

  # !  Installation Node.js
      - name: ✅ ⚙️ Install Node version "20"
        uses: actions/setup-node@v4
        with:
        node-version: '20'
      - name: ❎ ⌛ Check Node version
        run: node --version
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.3'

      - name: Build with Gradle Wrapper
        run: ./gradlew build

      - name: Get application.yml from secrets
        run: |
          echo "${{ secrets.APPLICATION_YML }}" > src/test/resources/application.yml

      - name: Run tests
        run: |
          ./gradlew clean qa -Psuite1
          ./gradlew clean qa -Psuite2
          ./gradlew clean qa -Psuite3
          ./gradlew clean qa -Psuite4

      - name: Deploy
        run: echo 'Deploying...'
